[Unit]
Description=Slurm DBD accounting daemon
After=network.target munge.service
ConditionPathExists={{ SlurmCurrent }}/etc/slurmdbd.conf

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/slurmdbd
ExecStart={{ SlurmCurrent }}/sbin/slurmdbd $SLURMDBD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
PIDFile={{ SlurmRun }}/slurmdbd.pid
RuntimeDirectory=slurm
RuntimeDirectoryMode=0755
LimitNOFILE=65536
RuntimeDirectory=slurm
RuntimeDirectoryMode=755
TasksMax=infinity

[Install]
WantedBy=multi-user.target
