[Unit]
Description=Set up BSC Image from ClusterConfig
After=network.target
Before=munge.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fixbsccomputeimage
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
